#header {
  align-items: center;
  background-color: #000;
  display: flex;
  height: 70px;
  padding: 20px;

  span {
    color: #fff;
    font-family: "Lato";
    font-size: 24px;
  }
}
